header{
    height: 60px;
}

.headerContent {  
    margin: 20px 0px;  
    display: grid;    
    grid-template-columns: 1fr 400px;
    justify-items: end;
    align-items: baseline;
}
.redirectApps{
    padding: 0px 15px 0px 0px;
}
.redirectAppsBtn{
    padding: 0px 0px 0px 15px;
    font-size: 13px;
}
.redirectAppsBtn:hover{
    text-decoration: underline;        
}

.googleAppsBtn{
    height: 40px;
    width: 40px;
}

.gridIconBtn{
    width: 16px;
    height: 16px;  
    padding: 8px;   
    vertical-align: middle;
}

.googleAppsBtn :hover{    
    border-radius: 50%;    
    background-color: #d6dadd;
}

.signInBtn{
    background-color: #1a73e8;
    border: 1px solid transparent;
    color: #fff; 
    margin: 0px 8px;   
    padding: 9px 23px;     
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

.maincontent{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}

.searchPanal{
    margin: 10px;
    border: 1px solid lightgray;
    width: 500px;
    height: 45px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    justify-content: center;   
    border-radius: 25px; 
    font-size: 16px;
}

input:focus{
    outline-offset: 1px;
    outline-color: transparent;
}

.searchIcon {
    width: 15px;
    height: 15px;
    align-self: center;
    justify-self: center;        
}

.micIcon {
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;  
}

#searchbox {    
    padding-top: 5px;
    border: none;
}

.searchOpBtn{
    margin: 11px 4px;
    padding: 8px 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;    
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;    
}

.helpfullTips{
    font-size: 13px;    
}
